<div class="card" ng-controller="HomeController">
    <img class="card-img-top" src="./res/Mumbai-blog-banner-1400x400px.jpg"/>
    <div class="card-body">
        <h1 class="card-title">Cocktails in Angular</h1>
        <form class="form-inline">
            <div class="inline-center">
                <input class="form-control mr-sm-2" type="search" ng-model="searchVal" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" ng-click="submit()">Search</button>
            </div>
        </form>
    </div>
</div>
