@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');

@keyframes rotateFall {
  0%      { transform: rotateZ(0deg); }
  20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
  40%     { transform: rotateZ(17deg); }
  60%     { transform: rotateZ(16deg); }
  100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
  to      { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
  to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
  from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
  from    { transform:translateX(100%); }
  to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
  from    { transform:translateY(100%); }
  to      { transform: translateY(0); }
}

body, html{
  background-image: linear-gradient(to right, #f7efef, #eff7f2);
  background-size: cover;
  font-family: 'Open Sans Condensed', sans-serif;
}


.navbar-brand {
  font-size: 1.5em;
}
.nav-item {
  font-size: 1.3em
}

.figure{
  width: 20%;
  background-color: transparent;
}

.warning{
  margin: auto;
  text-align: center;
}

.form-inline{
  margin: auto;
  text-align: center;
}
.inline-center{
  margin: auto
}
.figure-caption{
  color: black;
  font-size: 1.1em;
  background-color: transparent;
  font-weight: bold;
  text-align: center;
}

img.banner{
  max-height: 29rem;
}

.headImg{
  margin: auto;
  max-width: 25rem;
}

.ng-enter           {
  animation: scaleUp 0.5s both ease-in; z-index: 8888;
}
.ng-leave           {
  animation: slideOutLeft 0.5s both ease-in; z-index: 9999;
}


