@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');

body, html{
    background-image: linear-gradient(to right, #f7efef, #eff7f2);
    background-size: cover;
    font-family: 'Open Sans Condensed', sans-serif;
}

.navbar-brand {
    font-size: 1.5em;
}
nav ul li {
    font-size: 1.3em
}

.figure{
    width: 20%;
    background-color: transparent;
}

.form-inline{
    margin: auto;
    text-align: center;
}
.inline-center{
    margin: auto
}
.figure-caption{
    color: black;
    font-size: 1.1em;
    background-color: transparent;
    font-weight: bold;
    text-align: center;
}

img.banner{
    max-height: 29rem;
}

.headImg{
    margin: auto;
    max-width: 25rem;
}
